* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	text-transform: capitalize; 
}

body {

	font-family: "Muli", Arial, sans-serif;
	background-color: grey;
    font-size: 18px;
    color: #fff;
    width: 100%;
}

header {
	background-image: url("../image/space.jpg");      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;     
    background-size: cover;      
}

nav {
	text-align: center;
	padding: 20px 0 20px 20px;
	position: fixed;
}

.white {
	color: #fff;
}

.active {
	color: #FF3228;
}

.info {
	text-align: center;
	padding: 200px 0 280px;
}

.info h1 {
	font-size: 50px;
}

.info p {
	font-size: 20px;
}

.line {
	border: 1px solid rgba(255, 255, 255, 0.5);
	width: 40%;
	margin: 10px auto;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.profile {
	display: flex;
	margin: 80px 20px;
}

.image {
	float: left;
}

.image img {
	position: center center;
	size: cover;
	width: 280px;
	height: 400px;
}

.description {
	float: right;
	margin-left: 80px;
	width: 400px;
}

.sotial {
	margin-top: 0px;
}



footer {
	background-color: #111;
}

footer {
	text-align: center;
}

