* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
	text-transform: capitalize; 
}

body {

	font-family: "Muli", Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    width: 100%;
}

header {
	background-image: url("../image/space.jpg");      
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;     
    background-size: cover;      
}

nav {
	text-align: center;
	padding: 20px 0 20px 20px;
	/*position: fixed;
	margin-left: 500px;*/
}

.navigation {
	background-color: #14171C;
}
.active {
	color: #FF3228;
}

.info {
	text-align: center;
	padding: 250px 0 340px;
}

.info h1 {
	font-size: 50px;
}

.info p {
	font-size: 20px;
}

.container {
	width: 800px;
	margin: 0 auto;
}

#about {
	padding: 40px 0;
	background-color: #14171C;
}

.profile {
	display: flex;
	margin: 80px 20px;
}

.image {
	float: left;
}

.image img {
	position: center center;
	size: cover;
	width: 280px;
	height: 400px;
}

.description {
	float: right;
	margin-left: 80px;
	width: 400px;
}

.sotial {
	margin-top: 0px;
}
.top {
	margin-top: 20px;
}

.vk:hover {
	color: #00f;
}
.git:hover {
	color: #333;
}

.education {
	display: flex;
	margin: 60px 0;
	color: #000;
}

.title {
	border-bottom: 3px solid #FF3228;

}

.text {
	margin: 10px 0 0 80px;
	width: 600px;
}

footer {
	background-color: #111;
	text-align: center;
	padding: 20px 0;
}

